@charset "UTF-8";

body { 
            background-color: #935ee9;
            font-family: cursive;
            font-size: 20px;
        }
        h1 { 
            color: rgb(162, 5, 253);
            background-color: #3c4bcf;
        }
        h2 { 
            color: darkred;
        }

        p {
            text-align: justify;
        }